{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block main %}
  <div class="container">
    <h1>{{ _('Register') }}</h1>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
  </div>
{% endblock %}
