<!-- alerts -->
{% block alerts_alerts %}

<div>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}

      {## No category mean info ##}
      {% if category == 'message' %} {% set category = "info" %} {% endif %}

      {## Set class and icon from category ##}
      {% if category == 'success' %}
	{% set icon = "glyphicon-ok" %}
      {% elif category == 'error' or category == 'exclamation' or category == 'danger' %}
	{% set category = "danger" %} 
	{% set icon = "glyphicon-exclamation-sign" %}
      {% else %}
	{% set icon = "glyphicon-"+ category +"-sign" %}
      {% endif %}
      <div class="alert alert-{{ category }} alert-dismissible" role="alert">            
	<strong class="glyphicon {{icon}}">
	  <span class="hidden">{{level}}:</span>
	</strong>&nbsp; &nbsp;
	{{ message }}
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> 
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

</div>

{% endblock %}
