<!-- Footer -->
{% block footer_footer %}
<footer class="page-footer font-small bg-light">
 <!-- See exemples at : https://mdbootstrap.com/docs/jquery/navigation/footer/ -->
  <div class="container text-muted" style="margin-top:1%">
    <div class="row">
<!--
      &nbsp; &middot; &nbsp;
-->
      {% import "public/macros/navigation_macros.htm" as macro %}


      <!-- Site -->
      <div class="col col-sm-3">
	<hr>
        {{ emit_event("footer_col_1") }}
      </div>
      <!-- Dev -->
      <div class="col col-sm-3">
	<hr>
        {{ emit_event("footer_col_2") }}
      </div>
      <!-- Navigation -->
      <div class="col col-sm-3">
	<hr>
	{{ macro.footer_link(_('Index'),href=url_for('index'), icon_class="glyphicon glyphicon-home", title=_("Main Page")) }}
        {{ emit_event("footer_col_3") }}
      </div>
      <!-- Social -->
      <div class="col col-sm-3">
	<hr>
	{{ macro.footer_link(_('RSS Feed'),href="#_not_yet_implemented", icon_class="fa fa-rss", title=_("Subscribe to the RSS Feed")) }}
        {{ emit_event("footer_col_4") }}
      </div>
    </div>

<!--
    <div class="row">
      &nbsp; &middot; &nbsp;
      <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/" title="Original content on this website is licensed under a Creative Commons Attribution-ShareAlike 4.0 International License, unless otherwise noted.">
	<img style="height:24px" src="https://mirrors.creativecommons.org/presskit/buttons/88x31/svg/by-sa.svg" alt="CC BY-SA 4.0">
      </a>
      &nbsp; &middot; &nbsp;
      <a rel="license" href="https://www.gnu.org/licenses/agpl-3.0.html" title="Original code for this website is licensed under a GNU AGPL 3.0 International License, unless otherwise noted.">
	<img style="height:24px" src="https://www.gnu.org/graphics/agplv3-155x51.png" alt="AGPL 3.0">
      </a>
      &nbsp; &middot; &nbsp;
    </div>
-->
<!--

    &nbsp; // &nbsp;

  <!--   Copyright End  -->
    <hr>
    Powered by
    <a href="https://palletsprojects.com/p/flask/"> Flask </a> using
    <a href="https://getbootstrap.com/docs/"> Bootstrap CSS </a> 
  <!--   Copyright End  -->


  <div>
</footer>
{% endblock %}
<!-- Footer End -->
