<!-- Navbar -->
{% block navbar_navbar %}
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	  <span class="sr-only">Toggle navigation</span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('index') }}">{{ config.get("APP_NAME") }}</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
	<li><a href="{{ url_for('index') }}">{{ _('Home') }}</a></li>
        {{ emit_event("public_navigation_last") }}
      </ul>

    {# Authentication and user menu ...   #}
      <ul class="nav navbar-nav navbar-right">
	{% if current_user.is_anonymous %}
        {{ emit_event("public_navigation_anonymous") }}
	<li><a href="{{ url_for('auth.login') }}"><span class="fa fa-user"></span> {{ _('Login') }}</a></li>
	{% else %}
	<li><a>{{ current_user.username }}</a></li>
	<li class="dropdown">
	  <a data-toggle="dropdown" class="dropdown-toggle" href="#"><span class="fa fa-cog"></span> &nbsp; <b class="caret"></b></a>
	  <ul class="dropdown-menu">
	    {% if current_user.is_admin() %}
	    {{ emit_event("public_navigation_admin") }}
	    {% endif %}
	    {{ emit_event("public_navigation_logged") }}
	    <li><a href="{{ url_for('auth.logout') }}"><span class="fa fa-power-off"></span> {{ _('Logout') }}</a></li>
	  </ul>
	</li>
	{% endif %}
      </ul>
      
    </div>

  </div>
</nav>
{% endblock %}
<!-- Navbar End -->
