
{% macro footer_link(name, href='#_not_yet_implemented', icon_class='', title='') -%}
  <a href="{{ href }}" title="{{ title }}" >
    <span class="{{icon_class}}"></span>
    <span class="" > {{ name }} </span>
  </a>
  <br>
{%- endmacro %}
