{% extends "bootstrap/base.html" %}

{# block html_attribs %} lang="fr" {% endblock #}

{% block title %}
  {% block page_title %}Template Page{% endblock %} &nbsp; &middot; &nbsp; {{ config.get("APP_NAME") }}
{% endblock %}

<!-- Sytles -->
{% block styles %}
  <!-- Stylesheets from bootstrap -->
  {{super()}}
  <!-- Font Awesome stylesheets -->
  {{ fontawesome_html() }}
  <!-- Custom stylesheets -->
  <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
  <style>
    /*  -----[ Hover Dropdown ]----- */
    
    /*  Make bootstrap dropdown show on hover */
     @media screen and (min-width: 767px) {
       ul.nav li.dropdown:hover > ul.dropdown-menu {
          display: block;    
        } 
    } 

    /* Disable hover on touch devices */
    @media (hover: none) or (any-hover: none) or (pointer: coarse) or (pointer: none){
      ul.nav li.dropdown:hover > ul.dropdown-menu {
        display: inherit;    
      }
    }
    
    /* Add External Link Indicator */
    a[href]:not([href*='{{ request.headers['Host'] }}']):not([href^='#']):not([href^='/']):after {
      font-family: 'FontAwesome';
      content: " \f08e";
      //position: relative;
      //top: -0.3em;
      font-size: 70%;
    }
  </style>
  {% block style %}{% endblock %}
  <!-- Favicons --> 
  {# <link rel="icon" href="data:;base64,iVBORw0KGgo="> #}
  <link rel="icon" href="{{url_for('static', filename='icons/favicon.svg')}}">
{% endblock %}
<!-- Sytles End -->

<!-- Navbar -->
{% block navbar %}
  {% if not request.args.get('framed') %}
    {% include "public/snippets/navbar.htm"  %}
  {% endif %}
{% endblock %}
<!-- Navbar End -->

<!-- Content -->
{% block content %}
  <!-- Main -->
  <main role="main" class="container-fluid">
    <!-- alerts -->
    {% block alerts %} <div class="container">{% include "public/snippets/alerts.htm"  %}</div> {% endblock  %}
    <!-- alerts End -->
    {% block main %}<h1> Hello world <h1>{% endblock main %}
  </main>
  <!-- Main End -->

  <!-- Footer -->
  {% block footer %}
      {% if not request.args.get('framed') %}
	{% include "public/snippets/footer.htm"  %}
      {% endif %}
  {% endblock %}
  <!-- Footer End -->

{% endblock %}
<!-- Content End -->

<!-- Scripts -->
{% block scripts %}
  <!-- Bootstrap script from bootstrap/base.html -->
  {{super()}}
  <!-- Import our custom JavaScript -->
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  <!-- Addtionnal JS goes there -->
  {% block script %}{% endblock script %}
{% endblock scripts %}
<!-- Scripts End -->
