{% extends "base.html" %}

{% block page_title %}{{ title or "Home" }}{% endblock %}

{% block main %}
  <div class="container">
    <div class="row">
      <div class="col">
	<h1>{{ title or "Home" }}</h1>
	<br>
	{{ emit_event("index_before_content") }}
	{% if content %}<p>{{ content }}</p>{% endif %}
        {{ emit_event("index_after_content") }}
      </div>
    </div>
  </div>
{% endblock %}

